include ../mixins/sub-menu.pug

header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src=settingGeneral.logo, alt="Logo")
      .col-5
        form(
          action="/search"
          method="GET"
        ) 
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder="Nhập từ khóa..."
              class="form-control"
              name="keyword"
              value= keyword
            )
            button(
              type="submit"
              class="btn btn-primary ml-2"
            ) Tìm
      .col-4
        .inner-menu
          ul
            li
              a(href="/") Trang chủ
            li(class="sub-menu")
              a(href="/products") Sản phẩm
              +sub-menu(layoutProductsCategory)
            li 
              a(href="/cart") Giỏ hàng (#{miniCart ? miniCart.totalQuantity : 0})
            if(user)
              li 
                a(href="/user/logout") Đăng Xuất
              li 
                a(href="/user/infor") #{user.fullName}
            else
              li  
                a(href="/user/register") Đăng ký
              li 
                a(href="/user/login") Đăng nhập
            
            
             
              
