.sider
  .inner-menu 
    ul
      li
        a(href=`${prefitAdmin}/dashboard`) Tổng quang
      li
        a(href=`${prefitAdmin}/products-category`) Danh mục sản phẩm 
      li
        a(href=`${prefitAdmin}/products`) Danh sách sản phẩm 
      li 
        a(href=`${prefitAdmin}/roles`) Nhóm quyền
      li 
        a(href=`${prefitAdmin}/roles/premissions`) Phân quyền